@import '../../scss/scssshared/root/colors';

.items{
    border-bottom: 1px solid #ccc;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.item{
    margin-bottom: -1px;

    &-link{
        border-radius: .5em .5em 0 0;
        border: 1px solid #ccc;
        display: block;
        margin: 0 .2em;
        padding: 1em;
        transition: background .25s ease;
    }

    &:first-child &-link{
        margin-left: 0;
    }

    &-link--inactive{
        background: #efefef;
        color: $g-root__color--primary--02a;
        cursor: pointer;
        text-decoration: none;

        &:hover{
            background: $g-root__color--secondary--04c;
            border-bottom-color: #ccc;
            color: $g-root__color--primary--02b;
            text-decoration: none;
        }

        &:active{
            color: $g-root__color--primary--02b;
        }

        &:visited{
            color: $g-root__color--primary--02a;
        }
    }
    &-link--active{
        background: white;
        border-bottom-color: transparent;
        color: $g-root__color--primary--03a;

        &:hover,
        &:active,
        &:visited{
            background: white;
            border-bottom-color: transparent;
            color: $g-root__color--primary--03a;
            cursor: default;
        }
    }
}