$g-root__color--primary--01a: #f15b2a;
$g-root__color--primary--01b: #c43c0e;
$g-root__color--primary--01c: #f69c7e;

$g-root__color--primary--02a: #2a9fbc;
$g-root__color--primary--02b: #1f778d;
$g-root__color--primary--02c: #76cbe0;

$g-root__color--primary--03a: #404040;


$g-root__color--secondary--01a: #A62E5C;
$g-root__color--secondary--01b: #7D2345;
$g-root__color--secondary--01c: #D8739A;

$g-root__color--secondary--02a: #8BC850;
$g-root__color--secondary--02b: #77A032;
$g-root__color--secondary--02c: #C3DE96;

$g-root__color--secondary--03a: #675BA7;
$g-root__color--secondary--03b: #4D447E;
$g-root__color--secondary--03c: #A49DCA;

$g-root__color--secondary--04a: #171717;
$g-root__color--secondary--04b: #303030;
$g-root__color--secondary--04c: #E5E5E5;
