@import '../../scss/scssshared/root/links';

.items{
    list-style: none;
    margin: 0;
    padding: 0;
}

.item{
    border: .0625em solid #ccc;
    border-top: none;

    &__label{
        @include g-root__link;
        display: flex;
        padding: 1em;

        &::after{
            max-width: 1em;
            min-width: 1em;
        }

        &-text{
            flex: 1;
            padding-right: .5em;
        }
    }

    &__label{
        &:hover{
            text-decoration: none;
        }

        &:hover &-text{
            text-decoration: underline;
        }
    }

    &__label--inactive::after{
        content: '\25bc';
    }

    &__label--active::after{
        content: '\25b2';
    }
}